@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl text-gray-dark-1 font-bold;
  }

  h2 {
    @apply text-2xl text-gray-dark-1 font-bold;
  }

  h3 {
    @apply text-xl text-gray-dark-1 font-bold;
  }

  h4 {
    @apply text-lg text-gray-dark-1 font-bold;
  }

  h5 {
    @apply text-base text-gray-dark-1 font-bold;
  }

}